@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .dropzone {
        border: 1px dashed black;
        width: 500px;
        height: 500px;
        display: grid;
        place-content: center;
    }

    .dropzone * {
        pointer-events: none;
    }

    .dropzone.dragging {
        border-color: red;
    }
}
